.divContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.divTitle {
    padding-top: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.imgTitle {
    width: 60px;
    height: 40px;
    margin-right: 5px;
}

.imgBack {
    width: 30px;
    height: 30px;
}

.divForm {
    background-color: white;
    margin: 16px 0;
    padding: 30px;
    width: 500px;
    min-height: 380px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px rgb(40, 40, 40);
    overflow-x: auto;
}
.divForm input,
.divForm textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #2c3e50;
    font-size: 16px;
}
.label {
    font-family: sans-serif;
    color: #75758b;
}
.divFormMap {
    border: 1px solid black;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divFormButtonSend {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
}

.btnFormButtonSend {
    border-radius: 20px;
    border: 0px;
    background-color: #2a6151;
    height: 30px;
    width: 200px;
    color: white;
    cursor: pointer;
}

.btnFormButtonSend:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

.btnFormButtonSend:active {
    transform: translateY(2px) translateX(2px);
}

.row {
    display: flex;
}
